.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      // padding-left: 7%;

      // &:hover{
      //   transform: scale(1.1);
      //   transition: all 1s;
      // }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      // padding-right: 7%;
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
        // &:hover{
        //   color: gray;
        //   transition: all 1s;
        // }
      }
    }
  }
  